# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.StepGame1.iml
# Datasource local storage ignored files
/../../../../../../:\UnityStepAcademy\StepGame1\.idea\.idea.StepGame1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
